<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boardly | Home</title>
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/blog.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="left">
          <label for="" class="boardly-logo">Boardly</label>
          <label for="" class="page-title"> | Home</label>
        </div>
        <div class="right">
            <a href="/"><button class="button home-btn" id="home-btn"><p>Home</p></button></a>
            <a href="/draw"><button class="button draw-btn" id="draw-btn"><p>Draw</p></button></a>
        </div>
    </header>
    <div class="help-empty-blog"></div>
    <div class="main">
        <section class="hero-section">
            <div></div>
            <div>
                <div>
                    <h1>Know</h1>
                    <h1>Boardly</h1>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
                    omnis, nobis nostrum deserunt placeat veritatis eius cum velit
                    impedit aliquam praesentium, accusamus aut eum necessitatibus
                    deleniti consectetur quidem voluptates quasi.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut,
                    debitis alias. Nihil, repellat, tempore corporis quos
                    impedit ullam eveniet alias reiciendis ut, laudantium fuga
                    id consectetur non in minima doloribus.
                </p>
            </div>
        </section>
        <section class="content">
            <div class="details">
                <div class="item">
                    <h3>Rectangle</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Triangle</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Circle</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Fill</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Brush</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Eraser</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Clear canvas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
                <div class="item">
                    <h3>Save</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae sunt illo, voluptas suscipit modi, aperiam amet at similique voluptatibus ex in voluptates. Obcaecati itaque doloribus eum veritatis explicabo dolore ad.</p>
                </div>
            </div>
            <footer>
                <div class="socials">
                    <h2>Socials</h2>
                    <button class="socials-btn" id="facebook" path="https://www.facebook.com">
                        <img src="" alt="">
                        <p>Facebook</p>
                    </button>
                    <button class="socials-btn" id="twitter" path="https://www.twitter.com">
                        <img src="" alt="">
                        <p>Twitter</p>
                    </button>
                    <button class="socials-btn" id="instagram" path="https://www.instagram.com">
                        <img src="" alt="">
                        <p>instagram</p>
                    </button>
                    <button class="socials-btn" id="tiktok" path="https://www.tiktok.com">
                        <img src="" alt="">
                        <p>Tik Tok</p>
                    </button>
                </div>
                <div class="organization">
                    <h2>Organization</h2>
                    <p>© 2023 Boardly® Global Inc</p>
                </div>
            </footer>
        </section>
    </div>
    <script src="../static/scripts/blog.js"></script>
</body>
</html>